.wrapper {
    height: var(--default-layout-header-height);
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 1px;
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.inner {
    height: 100%;
    width: var(--default-layout-width);
}
